@{
    ViewData["Title"] = "These are my projects";
}

<div class="text-center">
    <h1 class="display-4">These are my projects</h1>
</div>
<a href="/">To Home</a>
<a href="/contact">To Contact</a>
<a href="/projects">To Projects</a>
